
.font-item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: #fff;
    z-index: 1;

    .left-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 350px;

        .icon-block {
            justify-content: center;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;

            .icon {
                margin: left 10px;
                font-size: 20px;
            }

            &:hover {
                cursor: pointer;
                background-color: grey
            }
        }

    }


    .center-item {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        .icon-block {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 1px solid rgb(219, 213, 213);
            width: 50%;
            border-radius: 50%;
            margin: 0 10px;
            width: 50%;
            height: 50%;

            .icon {
                color: #555;
                font-size: 20px;

                .red {
                    color: red;
                }
            }

            &:hover {
                color: #555;
                box-shadow: 0 0 10px #ddd
            }

            &.red-bg {}
        }


    }

    .right-item {
        width: 350px;
        height: 100%;
        display: flex;
        // right: 0;
        align-items: center;
        justify-content: flex-end;

        .icon-block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 140px;
            color: #555;

            .icon {
                font: size 20px;
                margin-bottom: 10px;
            }

            .title {
                font-size: 20px;
                margin: 0;
                font-weight: 500;
            }

            &:hover {
                cursor: pointer;
                background-color: #eee;
            }
        }

    }
}